@media screen and (max-width: 767px) {
	.features-list__item:not(:last-child) {
		margin-bottom: 30px;
	}

	.features-list__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;
		background-color: var(--bg-team-color);
		border-radius: 4px;
		margin-bottom: 30px;
	}

	.features-list__title {
		margin-top: 0;
		margin-bottom: 10px;

		color: var(--title-text-color);
		@include font();
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: center;
	}

	.features-list__text {
		@include font(14px, 400, 24px);
		letter-spacing: 0.03em;
		margin-top: 0;
	}
}

@media screen and (min-width: 768px) {
	.features-list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	.features-list__item {
		width: 354px;
	}

	.features-list__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;
		background-color: var(--bg-team-color);
		border-radius: 4px;
		margin-bottom: 30px;
	}

	.features-list__title {
		margin-top: 0;
		margin-bottom: 10px;

		color: var(--title-text-color);
		@include font();
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	.features-list__text {
		@include font(14px, 400, 24px);
		letter-spacing: 0.03em;
		margin-top: 0;
	}
}

@media screen and (min-width: 1200px) {
	.features-list__item {
		width: 270px;
	}
}
