@media screen and (max-width: 1199px) {
	.section_hide {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.promo__list {
		display: flex;
		flex-wrap: wrap;
	}

	.promo__item {
		position: relative;
		width: 370px;
		margin-right: 30px;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	.promo__text {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 70px;

		@extend %align;

		font-family: "Roboto", sans-serif;
		@include font();
		letter-spacing: 0.03em;
		text-transform: uppercase;

		color: var(--white-text-color);
		background: var(--bg-work-color);
	}
}

// .promo__list {
// 	display: flex;
// 	flex-wrap: wrap;
// }

// .promo__item {
// 	position: relative;
// 	width: 370px;
// 	margin-right: 30px;

// 	&:nth-child(3n) {
// 		margin-right: 0;
// 	}
// }

// .promo__text {
// 	position: absolute;
// 	left: 0;
// 	bottom: 0;
// 	width: 100%;
// 	height: 70px;

// 	@extend %align;

// 	font-family: "Roboto", sans-serif;
// 	@include font();
// 	letter-spacing: 0.03em;
// 	text-transform: uppercase;

// 	color: var(--white-text-color);
// 	background: var(--bg-work-color);
// }
