.team-list {
	display: flex;
	flex-direction: column;
}

.team-list__item {
	max-width: 450px;
}

// .team-list__item:not(:last-child) {
// 	margin-bottom: 30px;
// }

.team-list__wrapper {
	padding-top: 30px;
	padding-bottom: 24px;
	background-color: var(--white-text-color);
	box-shadow: var(--border-card-shadow);
	border-radius: 0px 0px 4px 4px;
}

.team-list__title {
	margin-bottom: 10px;

	color: var(--title-text-color);
	@include font(16px, 500, 19px);
	text-align: center;
	letter-spacing: 0.03em;
}

.team-list__text {
	@include font(16px, 400, 19px);
	text-align: center;
	letter-spacing: 0.03em;
}

// .team-list .team-list__item:not(:last-child) {
// 	margin-right: 30px;
// }

// .team-list {
// 	display: flex;
// 	flex-wrap: wrap;
// }

// .team-list__wrapper {
// 	padding-top: 30px;
// 	padding-bottom: 30px;
// 	background-color: var(--white-text-color);
// 	box-shadow: var(--border-card-shadow);
// 	border-radius: 0px 0px 4px 4px;
// }

// .team-list__title {
// 	margin-bottom: 10px;

// 	color: var(--title-text-color);
// 	@include font(16px, 500, 19px);
// 	text-align: center;
// 	letter-spacing: 0.03em;
// }

// .team-list__text {
// 	@include font(16px, 400, 19px);
// 	text-align: center;
// 	letter-spacing: 0.03em;
// }

// .team-list .team-list__item:not(:last-child) {
// 	margin-right: 30px;
// }
