.button {
	display: inline-block;
	min-width: 200px;
	min-height: 50px;
	padding: 0;

	color: var(--white-text-color);
	background-color: var(--accent-text-color);
	cursor: pointer;
	border-radius: 4px;
	border: none;

	font-family: "Roboto", sans-serif;
	@include font(16px, 700, 30px);
	letter-spacing: 0.06em;
	text-align: center;

	transition: background-color var(--transition-duration) var(--timing-function),
		box-shadow var(--transition-duration) var(--timing-function);

	&:hover,
	&:focus {
		background-color: var(--bg-button-color);
		box-shadow: var(--first-card-shadow);
	}
}
