@media screen and (max-width: 767px), screen and (min-width: 768px) {
	.modal-text {
		width: 100%;
		margin-bottom: 12px;

		color: var(--title-text-color);

		font-family: "Roboto", sans-serif;
		@include font(20px, 700, 30px);
		text-align: center;
		letter-spacing: 0.03em;
	}

	.modal-contact-form {
		display: flex;
		flex-direction: column;
	}

	.modal-contact-form-desc {
		display: block;
		margin-bottom: 4px;
		color: var(--primary-text-color);

		font-family: "Roboto", sans-serif;
		@include font(12px, 400, 14px);
		letter-spacing: 0.01em;
	}

	.modal-contact-form-input-icon {
		position: relative;
	}

	.modal-contact-form-icon {
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translate(0, -50%);
		width: 18px;
		height: 18px;

		transition: fill var(--transition-duration) var(--timing-function);

		.modal-contact-form-input:focus + & {
			fill: var(--accent-text-color);
		}
	}

	.modal-form-field:not(:first-child) {
		margin-top: 10px;
	}

	.modal-contact-form-input {
		width: 100%;
		height: 40px;
		padding-left: 42px;
		border: 1px solid var(--input-border-color);
		border-radius: 4px;
		cursor: pointer;
		transition: border-color var(--transition-duration) var(--timing-function);

		&:focus {
			outline: none;
			border-color: var(--accent-text-color);
		}
	}

	.modal-contact-form-message {
		display: block;
		resize: none;
		width: 100%;
		height: 120px;
		padding: 12px 16px;
		border: 1px solid var(--input-border-color);
		border-radius: 4px;
		transition: border-color var(--transition-duration) var(--timing-function);

		&:focus {
			outline: none;
			border-color: var(--accent-text-color);
		}

		&::placeholder {
			font-family: "Roboto", sans-serif;
			@include font($fw: 400);
			letter-spacing: 0.01em;

			color: var(--placeholder-message-color);
		}
	}

	.modal-form-check-desc {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 30px;

		font-family: "Roboto", sans-serif;
		@include font(12px, 400, 14px);
		letter-spacing: 0.03em;
		color: var(--primary-text-color);

		&::before {
			content: "";
			display: block;
			width: 16px;
			height: 15px;
			border: 2px solid var(--title-text-color);
			border-radius: 2px;
			cursor: pointer;
			margin-right: 7px;
			transition: border-color var(--transition-duration) var(--timing-function),
				outline var(--transition-duration) var(--timing-function);
		}

		.modal-form-check:checked + &::before {
			background-color: var(--accent-text-color);
			background-image: url(../images/Vector.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-origin: border-box;
			transition: background-color var(--transition-duration) var(--timing-function);
			border: none;
			/* border: 0.2px solid var(--white-text-color); */
		}

		.modal-form-check:focus + &::before {
			outline: 2px solid var(--accent-text-color);
		}
	}

	.modal-contact-form-btn {
		align-self: center;
	}
}

@media screen and (min-width: 1200px) {
	.modal-text {
		@include font(20px, 700, 23px);
	}

	.modal-form-check-desc {
		@include font(14px, 400, 24px);
	}
}

// .modal-text {
// 	width: 100%;
// 	margin-bottom: 12px;

// 	color: var(--title-text-color);

// 	font-family: "Roboto", sans-serif;
// 	@include font(20px, 700, 23px);
// 	text-align: center;
// 	letter-spacing: 0.03em;
// }

// .modal-contact-form {
// 	display: flex;
// 	flex-direction: column;
// }

// .modal-contact-form-desc {
// 	display: block;
// 	margin-bottom: 4px;
// 	color: var(--primary-text-color);

// 	font-family: "Roboto", sans-serif;
// 	@include font(12px, 400, 14px);
// 	letter-spacing: 0.01em;
// }

// .modal-contact-form-input-icon {
// 	position: relative;
// }

// .modal-contact-form-icon {
// 	position: absolute;
// 	top: 50%;
// 	left: 12px;
// 	transform: translate(0, -50%);
// 	width: 18px;
// 	height: 18px;

// 	transition: fill var(--transition-duration) var(--timing-function);

// 	.modal-contact-form-input:focus + & {
// 		fill: var(--accent-text-color);
// 	}
// }

// .modal-form-field:not(:first-child) {
// 	margin-top: 10px;
// }

// .modal-contact-form-input {
// 	width: 100%;
// 	height: 40px;
// 	padding-left: 42px;
// 	border: 1px solid var(--input-border-color);
// 	border-radius: 4px;
// 	cursor: pointer;
// 	transition: border-color var(--transition-duration) var(--timing-function);

// 	&:focus {
// 		outline: none;
// 		border-color: var(--accent-text-color);
// 	}
// }

// .modal-contact-form-message {
// 	display: block;
// 	resize: none;
// 	width: 100%;
// 	height: 120px;
// 	padding: 12px 16px;
// 	border: 1px solid var(--input-border-color);
// 	border-radius: 4px;
// 	transition: border-color var(--transition-duration) var(--timing-function);

// 	&:focus {
// 		outline: none;
// 		border-color: var(--accent-text-color);
// 	}

// 	&::placeholder {
// 		font-family: "Roboto", sans-serif;
// 		@include font($fw: 400);
// 		letter-spacing: 0.01em;

// 		color: var(--placeholder-message-color);
// 	}
// }

// .modal-form-check-desc {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	margin-top: 20px;
// 	margin-bottom: 30px;

// 	font-family: "Roboto", sans-serif;
// 	@include font(14px, 400, 24px);
// 	letter-spacing: 0.03em;
// 	color: var(--primary-text-color);

// 	&::before {
// 		content: "";
// 		display: block;
// 		width: 16px;
// 		height: 15px;
// 		border: 2px solid var(--title-text-color);
// 		border-radius: 2px;
// 		cursor: pointer;
// 		margin-right: 7px;
// 		transition: border-color var(--transition-duration) var(--timing-function),
// 			outline var(--transition-duration) var(--timing-function);
// 	}

// 	.modal-form-check:checked + &::before {
// 		background-color: var(--accent-text-color);
// 		background-image: url(../images/Vector.svg);
// 		background-position: center;
// 		background-repeat: no-repeat;
// 		background-size: contain;
// 		background-origin: border-box;
// 		transition: background-color var(--transition-duration) var(--timing-function);
// 		border: none;
// 		/* border: 0.2px solid var(--white-text-color); */
// 	}

// 	.modal-form-check:focus + &::before {
// 		outline: 2px solid var(--accent-text-color);
// 	}
// }

// .modal-contact-form-btn {
// 	align-self: center;
// }
