@media screen and (max-width: 767px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section__title {
		margin-bottom: 30px;

		color: var(--title-text-color);
		@include font(28px, 700, 33px);
		text-align: center;
		letter-spacing: 0.03em;
	}
}

@media screen and (min-width: 768px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section__title {
		margin-bottom: 30px;

		color: var(--title-text-color);
		@include font(28px, 700, 33px);
		text-align: center;
		letter-spacing: 0.03em;
	}
}

@media screen and (min-width: 1200px) {
	.section {
		padding-top: 94px;
		padding-bottom: 94px;
	}

	.section__title {
		margin-bottom: 50px;
		@include font(36px, 700, 42px);
	}
}

.section_no-padding-top {
	padding-top: 0;
}

.section_theme-fon {
	background-color: var(--bg-team-color);
}
