.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section__title {
	margin-bottom: 50px;

	color: var(--title-text-color);
	@include font(36px, 700, 42px);
	text-align: center;
	letter-spacing: 0.03em;
}

.section_no-padding-top {
	padding-top: 0;
}

.section_theme-fon {
	background-color: var(--bg-team-color);
}
