:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--white-text-color: #ffffff;
	--contact-text-color: rgba(255, 255, 255, 0.6);
	--logo-text-color: #000000;
	--bg-hero-color: #c4c4c4;
	--bg-team-color: #f5f4fa;
	--bg-button-color: #188ce8;
	--header-border-color: #ececec;
	--border-cards-color: #eeeeee;
	--social-icon: #afb1b8;
	--border-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	--first-card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	--secondory-card-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	--hero-linear-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
	--card-hover-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	--bg-social-link: rgba(255, 255, 255, 0.1);
	--bg-footer-color: #2f303a;
	--bg-work-color: rgba(47, 48, 58, 0.8);
	--button-border-color: rgba(0, 0, 0, 0.1);
	--backdrop-color: rgba(0, 0, 0, 0.2);
	--ovarlay-bg-color: rgba(33, 150, 243, 0.9);
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-duration: 250ms;
	--input-border-color: rgba(33, 33, 33, 0.2);
	--placeholder-message-color: rgba(117, 117, 117, 0.5);
	--border-footer-input: rgba(255, 255, 255, 0.3);
	--visible-dark-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

body {
	background-color: var(--white-text-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	border-bottom: 1px solid;
}

h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
